---
import {Picture} from 'astro:assets'

import Layout from '@/layouts/Layout.astro'
import PageTitle from '@/components/PageTitle.astro'
import frontendQuizHero from './_frontend-quiz.png'

const meta = {
	title: 'Play',
	description:
		'Play our browser games, lovingly made in a variety of frameworks! To compare, contrast, and have fun 😄',
}
---

<Layout meta={meta}>
	<section class="brand-prose pt-[5vh]">
		<PageTitle>Play</PageTitle>
		<p>
			Play our browser games, lovingly made in a variety of frameworks! To
			compare, contrast, and have fun 😄
		</p>
		<p>
			We are always looking for recommendations of what you’d like to see us
			implement, so feel free to submit your ideas, or link to cool stuff from
			places such as <a
				href="https://www.frontendmentor.io/challenges"
				target="_blank"
				rel="noopener noreferrer">Frontend Mentor</a
			>!
		</p>
	</section>
	<ul class="breakout">
		<li>
			<a
				class="grid gap-4 lg:grid-cols-3 lg:grid-rows-2"
				href="/play/frontend-quiz"
			>
				<h2 class="text-3xl">Frontend Quiz App</h2>
				<Picture
					pictureAttributes={{
						class: 'lg:order-first lg:row-span-2 lg:col-span-2',
					}}
					class="rounded shadow"
					src={frontendQuizHero}
					formats={['avif', 'webp']}
					alt="The start view of the Frontend Quiz, as seen on a desktop"
				/>
				<p>
					Test your frontend skills in a variety of subjects, by answering
					multiple choice questions!
				</p>
			</a>
		</li>
	</ul>
</Layout>
