---
import ThemeToggle from './ThemeToggle.astro'
---

<header
	class="bg-surface-brand-2/80 sticky top-0 flex items-center justify-between p-4"
>
	<a href="/" class="font-extralight">Bonus XP</a>
	<ThemeToggle />
</header>
