---
import ThemeToggle from './ThemeToggle.astro'
---

<header
	class="sticky top-0 z-50 flex items-center justify-between bg-surface-brand-2/80 p-4 backdrop-blur-sm"
>
	<a href="/" class="font-extralight">Bonus XP</a>
	<ThemeToggle />
</header>
