---
import '@fontsource-variable/rubik'
import Layout, {type Meta} from '@/layouts/Layout.astro'

type Props = {
	meta?: Meta
}

const {meta} = Astro.props
---

<Layout meta={meta}>
	<div id="frontend-quiz-container" class="breakout pt-[5vh] lg:pt-[10vh]">
		<slot />
		<div class="bg-circle" transition:name="bg-circle"></div>
	</div>
</Layout>

<style>
	:global(:root[data-sub-theme='mentor']) {
		--font-sans: 'Rubik Variable', system-ui, sans-serif;

		/* light */
		--foreground-brand-color-light: 216deg 25% 25%;
		--foreground-accent-color-light: 277deg 91% 56%;

		--surface-brand-1-color-light: 220deg 38% 97%;
		--surface-brand-2-color-light: 0deg 0% 100%;
		--surface-accent-1-color-light: 277deg 91% 56%;

		--success-color-light: 151deg 70% 50%;
		--error-color-light: 0deg 82% 63%;

		/* dark */
		--foreground-brand-color-dark: 0deg 0% 100%;
		--foreground-accent-color-dark: 277deg 91% 56%;

		--surface-brand-1-color-dark: 216deg 25% 25%;
		--surface-brand-2-color-dark: 215deg 27% 32%;
		--surface-accent-1-color-dark: 277deg 91% 56%;

		--success-color-dark: 151deg 70% 50%;
		--error-color-dark: 0deg 82% 63%;
	}

	.bg-circle {
		--diameter: max(100vh, 100vw);
		--opacity: 50%;

		position: fixed;
		top: 0;
		left: calc(var(--diameter) * -0.5);
		width: var(--diameter);
		height: var(--diameter);
		z-index: -1;
		border: 160px hsl(var(--surface-brand-2-color)) solid;
		opacity: var(--opacity);
		border-radius: 100%;
	}

	:global([data-theme='dark']) {
		.bg-circle {
			--opacity: 15%;
		}
	}
</style>
